<h1>Query Logs</h1>
<table class="query-log-table">
  <tr>
    <th>Query</th>
    <th>Response</th>
    <th>Response Source</th>
  </tr>

  <% if query_logs.load.empty? %>
    <tr>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  <% end %>

  <% query_logs.each do |log| %>
    <tr>
      <td><%= log.query %></td>
      <td><%= log.response %></td>
      <td><%= log.response_source %></td>
    </tr>
  <% end %>
</table>
